
.line {
  margin: 0 10px;
  color: #999;
}

.tohide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/coverall.png) no-repeat 0 9999px;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-v1{
  width: 1100px;
  margin: 0 auto;
}

.more-btn{
  color: #666;
  font-size: 12px;
  cursor: pointer;
}
.more-btn:hover{
  text-decoration: underline;
}


.wrap-v2 {
  width: 980px;
  margin: 0 auto;
}

.topbar_sprite{
  background: url(../img/topbar.png) no-repeat;
}

.footer_icon{
  background: url(../img/foot_icon.png) no-repeat;
  background-size: 220px 220px;
}

.banner_icon{
  background: url(../img/banner.png) no-repeat 0 9999px;
}

.header_icons{
  background: url(../img/header_icons.png) no-repeat 0 9999px;
}

.opreation_icons{
  background: url(../img/opreation_icons.png) no-repeat 0 9999px;
}

.cover_icons{
  background: url(../img/coverall.png) no-repeat 0 9999px;
}

.all_icons{
  background: url(../img/iconall.png) no-repeat 0 9999px;
}

.top_list_bg{
  background: url(../img/top_list.png) no-repeat;
}

.player_sprite{
  background: url(../img/playbar.png) no-repeat 0 9999px;
}

.statbar_sprite{
  background: url(../img/statbar.png) no-repeat 0 9999px;
}

.button2_sprite{
  background: url(../img/button2.png) no-repeat 0 9999px;
}

.song-detail-bg_sprite{
  background: url(../img/song-deatail-gb.png) repeat-y center 0;
}

.playlist_bg_sprite{
  background: url(../img/playlist_bg.png) no-repeat 0 9999px;
}
.playlist_sprite{
  background: url(../img/playlist.png) no-repeat 0 9999px;
}